<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A Connection to the Past!</h2>
                <hr class="primary">
                <p class="text-faded">Based in Ann Arbor, Michigan, <b>Psallite</b> is Carol Anne Perry Lagemann, Monique Rio, and Aaron Elkiss, who play Medieval music in modern English translation and with modern folk aesthetic.</p>
                <p class=text-faded>Monique and Carol run <a href="https://stcpress.org">St. Cecilia Press</a> where you can find sheet music of our recordings.</p>
                <p class=text-faded>Monique's Early Music Blog is <a href="http://achantar.com">A Chantar</a></p>
                <p class=text-faded>Carol's Early Music Blog is <a href="https://belaccueil.wordpress.com/">De Bel-Accueil Énamouré</a></p>
                <a href="#music" class="btn btn-default btn-xl page-scroll">Listen to some music!</a>
            </div>
        </div>
    </div>
</section>
